{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <div class="login-form">
            {% load crispy_forms_tags %}
            <form method="post">
                {% csrf_token %}
                {% crispy form %}
                <p class="signup-link">Already have an account? <a href="/employeer/login">Sign in</a></p>
            </form>
        </div>
    </div>
</body>
</html>

